 body{
            background: rgba(17, 17, 17, 1);
        }
        :root{
            --primary-color:rgba(255, 255, 255, 0.5);
            --model-color:rgba(255, 255, 255, 1);
        }
        *{
            padding: 0;
            margin: 0;
        }
        .maxwidth{
            width: 800px;
            margin: 0 auto;
        }
           /* nav */
           .webname{
            color: rgba(230, 83, 60, 1);
            font-weight: 800;
            font-style: italic;
            font-size: 2rem;

           }
        .nav{
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
        }
        .menu ul{
            display: flex;
            align-items: center;
        }
        .menu li{
            list-style: none;
            margin-left: 20px;
        }
        .menu a{
            color: rgba(255, 255, 255, 1);
            text-decoration: none;
        }
        .button{
            background: rgba(230, 83, 60, 1);
            color: rgba(255, 255, 255, 1);
            border-radius: 46px;
            border: none;
            padding: 8px 20px;
        }
        /* baner */
 .banertitle{
        color: var(--model-color);
        font-weight: 1100;
        font-size: 3rem;
        margin: 50px 0 18px 0;
     }
    .shepe{
 
  font-style: italic;
}

.banerdecription{
    color: var(--primary-color);
    margin-bottom: 18px;
}
.buttonn{
    color: var(--model-color);
    padding: 8px 15px;
    border: 1px solid var(--model-color);
    border-radius: 46px;
    background: none;
}
.banerimage{
    background-image: url(./images/Images\ 2.png);
    background-size: cover;
    height: 450px;
    width: 300px;
margin: auto;
    position: relative;
}
     .banerbutton{
        background: rgba(48, 48, 48, 1);
        color: var(--primary-color);
        padding: 10px;
        border: none;
        border-radius: 5px;
       background: blu;
     }
    .banerbutto{
          background: rgba(48, 48, 48, 1);
        color: var(--primary-color);
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-right: -50px;
        margin-top: 50px;
    }
       .buttonround{
background: rgba(230, 83, 60, 1);
height: 20px;
width: 20px;
border-radius: 50%;


       }
       .buttonp{
        color: var(--primary-color);
       }
       .btn-strong{
        color: var(--model-color);
       }
      #lef{
        position: absolute;
   right: 0;
   top: 0;
     display: block;
      }
      
      #righ{
     margin: 350px 0px 0px -40px;
      }
      .baner{
        display: flex;
        gap: 80px;
        margin-top: 50px;
      }
/* images section */
 .mainh{
        color: var(--model-color);
    }
    .img{
       
        border-radius: 50%;
    }
    .mainimage{
    display: flex;
    text-align: center;
   gap: 20px;
    }
    #title{
        margin-bottom: 20px;
    }
.maintitle{
    
    text-align: center;
    margin: 100px 0 50px 0;
}
/* extra */
 .extramain{
    background: rgba(48, 48, 48, 1);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    gap: 100px;
    margin-top: 50px;
    width: 100%;
   }
   #p{
    margin-bottom: 10px;
   }
   #h{
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 2rem;
   }
.extratext{
    margin-bottom: 10px;
      height: 150px;
  width: 350px;
  margin: auto;
}
.imagess{
  height: 200px;
  width: 350px;
    border-radius: 5px;
   

}
/* table */
 th, td{
            border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 10px;
        }
        table{
            border-collapse: collapse;
        }
td{
    color: rgba(255, 255, 255, 0.5);
}
th{
    color: rgba(255, 255, 255, 1);;
}
.max{
    background: rgba(34, 34, 34, 1);
    gap: 50px;
}
.tablediv{
    padding: 0px 0 30px 50px;
}
/* bmi menu */
   label{
        
        background: rgba(255, 255, 255, 0.5);
       }
       input, option{
        color: whitesmoke;
        padding: 10px;
        background-color: rgb(136, 134, 134);
        border-radius: 20PX;
        outline: none;
        border: none;
       }
       .subtable{
        display: flex;
        padding-top: 50px;
        
     gap: 50px
       
       }
       ::placeholder{
        color: aliceblue;
       }
       .from{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 20px;
       }
      .selectdhaka{
        background: rgb(136, 134, 134);
        width: 100%;
       grid-column: span 2;
        padding: 10px;
        display: grid;
      }
      .selectmale{
           background: rgb(136, 134, 134);
        width: 100%;
     
        padding: 10px;
      }
      .label{
        grid-column: span 2;
      }

      /* responsive */

      @media screen and (max-width:576px) {
        .baner, .nav{
            flex-direction: column;
           text-align: center;
           gap: 20px;
        }
        .mainimage{
           flex-direction: column;
            justify-content: center;
         gap: 30px;
           
        }
        .banerimage{
        margin: auto;
        }
        .extramain{
            flex-direction: column;
            text-align: center;
        }
       .secondthree{
            display: hidden;
        }
        
      }